fastapi
uvicorn[standard]
pydantic
pydantic-settings
websockets
pymongo
motor
supabase
librosa
torch
torchaudio
scikit-learn
imbalanced-learn
shap
openai-whisper
groq
twilio
cryptography
pillow
pytesseract
pytest
pytest-asyncio
httpx
numpy
pandas
faker
python-multipart
python-dotenv
soundfile
pybloom-live
