fastapi
uvicorn[standard]
pydantic
websockets
pymongo
supabase
librosa
torch
torchaudio
scikit-learn
imbalanced-learn
shap
openai-whisper
groq
twilio
cryptography
pillow
pytest
httpx
numpy
pandas
faker
python-multipart
python-dotenv
soundfile
